<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.userMapper">

	<!-- 根据用户userCode信息查询用户 -->
	<!-- <select id="selectByTitle" resultType="news_detail" parameterType="String">
		select * from news_detail where 1=1
		<if test="title!=null and title!=''">
			and title like concat('%',#{title},'%')
		</if>
		order by createdate desc
	</select> -->
	<select id="selectByName" parameterType="String" resultType="user">
		select * from user where username=#{Name}
	</select>
</mapper>